body {
  margin: 10vmin auto;
  max-width: 800px;
  padding: 0 4vmin;
  font-family: 'Open sans', sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #050038;
}

input, button {
  font: inherit;
  font-size: inherit;
}

form {
  border-radius: 8px;
  background: #F8F8F7;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  overflow: hidden;
  max-width: 540px;
  margin: 10vmin auto
}

form h1 {
  margin: 0 0 24px;
  font-weight: 400;
  font-size: 20px;
}

.form-content {
  padding: 24px 50px;
}

.form-content:first-of-type {
  padding-top: 32px;
}

.form-content:last-of-type {
  padding-bottom: 32px;
}

.emails-input {
  background: white;
  border: 1px solid #C3C2CF;
  border-radius: 4px;
  height: 96px;
  padding: 8px 7px;
  overflow-y: auto;
}

.emails-input .entry {
  display: inline-block;
}

.emails-input .entry.valid {
  border-radius: 99px;
  padding-left: 10px;
  padding-right: 8px;
  background: rgba(102, 153, 255, 0.2);
}

.emails-input .entry.invalid {
  border-bottom: 1px dashed #D92929;
  line-height: 23px;
}

.emails-input .entry-delete {
  padding-left: 5px;
}

.emails-input .entry-input,
.emails-input .entry-delete {
  background: none;
  border: none;
  padding: 0;
}

.emails-input .entry-input::placeholder {
  color: #C3C2CF;
}

.button-row {
  background: white
}